APP_NAME=Javel
APP_ENV=local
APP_HOST=127.0.0.1
APP_URL=localhost
APP_DEBUG=true
APP_KEY=
PORT=8000

LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file

CACHE_STORE=file

QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local

HASH_DRIVER=bcrypt

MAIL_MAILER=log
